.App {
  margin-top: 3px;
}
#question {
  margin-top: 15px;
  background-color: #000000c9;
  border-radius: 1rem;
  padding: 2rem;
  width: 900px;
}

h1 {
  color: black;
}

#question p {
  margin-bottom: 1rem;
}

#question h2 {
  margin-bottom: 2rem;
}

#question button {
  margin: 1rem;
}

#containerq img {
  width: 200px;
  height: 200px;
}
/*  */
/* @media (max-width:1024px) { */
  /* #containerq{ */
    /* width: 400px; */
  /* } */
/* } */